.workspace-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  background-color: rgba(169, 104, 243, 0.521);
  border-radius: 3px;
  height: 40px;
  border-bottom: 1px solid rgb(167, 165, 165);
}

.workspace {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.side-bar {
  width: 400px;

  background-color: rgba(223, 220, 214, 0.281);
  padding-top: 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.side-bar-item {
  padding: 10px;
  margin: 5px 15px 5px 25px;
  padding-left: 30px;
  height: fit-content;
  border-radius: 20px;
}

.side-bar-item:hover {
  background-color: rgb(255, 255, 255);
}

.side-bar-item:active {
  background-color: rgba(199, 199, 204, 0.5);
}

.input-side-bar-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.input-side-bar-item {
  width: 100%;
  text-align: start;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: black;
}

.disable-input-side-bar-item-button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  background-color: rgba(169, 104, 243, 0.521);
  font-size: 18px;
  color: black;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.disable-input-side-bar-item-button:hover {
  background-color: rgba(143, 50, 249, 0.612);
}
.disable-input-side-bar-item-button:active {
  background-color: rgba(72, 6, 148, 0.612);
}
.add-side-bar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 10px 13px 30px;
}
.add-side-bar-item span {
  height: 24px;
  font-size: 24px;
}
.add-side-bar-item p {
  margin: 0;
  height: 24px;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-view {
  width: 100%;
  height: 100%;
}

.list-header {
  font-size: 30px;
  margin: 30px 0 0 80px;
}
.list-item {
  margin: 20px 80px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.list-item-checked {
  color: blue;
}

.list-item-not-checked {
  color: red;
}

.add-new-task-item {
  margin: 20px 80px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  cursor: pointer;
}
